*, *:before, *:after { box-sizing: border-box; }
html { -webkit-font-smoothing: antialiased; }
body { font-family: system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif; font-size: 14px; margin: 0; }

#wrapper {
  background-color: white;
  border-radius: 3px;
  border: 1px solid #cccccc;
  padding: 2em;
  position: fixed;
  z-index: 999999999999;
  box-shadow: 3px 3px 1em rgba(0, 0, 0, 0.2);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-height: 50%;
  overflow-y: auto;
}

h2 {
  font-size: 1em;
  font-weight: normal;
  margin-bottom: 1em;
  margin-top: 0;
  text-align: center;
  text-transform: uppercase;
}
h3 {
  font-size: 1.2em;
  margin-bottom: .5em;
  margin-top: 0;
}
p {
  margin: 0;
  color: #777777;
}
button {
  cursor: pointer;
  font-size: 2em;
}
article {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #eeeeee;
}
article:last-of-type {
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}
#explanation {
  margin-top: 3em;
  text-align: center;
}
.faded {
  font-style: italic;
}
#close {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  width: 0.9em;
  line-height: 1em;
  font-size: 3em;
}
